@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "./theme.css";
@import "@skeletonlabs/skeleton/optional/presets";
@import "./assets/fonts/fonts.css";

html {
	font-size: max(100%, calc(100vmin / 540 * 16));
}

#app {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100dvh;
}
