@theme {
	--color-\*: initial;
	--color-black: black;
	--color-white: white;
	--color-gray-05: oklch(18% calc(0.03 * 0.5) 215);
	--color-gray-10: oklch(24% calc(0.03 * 0.7) 215);
	--color-gray-20: oklch(32% calc(0.03 * 0.8) 215);
	--color-gray-30: oklch(39% calc(0.03 * 0.9) 215);
	--color-gray-40: oklch(46% calc(0.03 * 0.95) 215);
	--color-gray-50: oklch(56% calc(0.03 * 1) 215);
	--color-gray-60: oklch(67% calc(0.03 * 0.95) 215);
	--color-gray-70: oklch(76% calc(0.03 * 0.9) 215);
	--color-gray-80: oklch(84% calc(0.03 * 0.8) 215);
	--color-gray-90: oklch(92% calc(0.03 * 0.7) 215);
	--color-gray-95: oklch(96% calc(0.03 * 0.5) 215);
	--color-primary-05: oklch(18% calc(0.15 * 0.5) 35);
	--color-primary-10: oklch(24% calc(0.15 * 0.7) 35);
	--color-primary-20: oklch(32% calc(0.15 * 0.8) 35);
	--color-primary-30: oklch(39% calc(0.15 * 0.9) 35);
	--color-primary-40: oklch(46% calc(0.15 * 0.95) 35);
	--color-primary-50: oklch(56% calc(0.15 * 1) 35);
	--color-primary-60: oklch(67% calc(0.15 * 0.95) 35);
	--color-primary-70: oklch(76% calc(0.15 * 0.9) 35);
	--color-primary-80: oklch(84% calc(0.15 * 0.8) 35);
	--color-primary-90: oklch(92% calc(0.15 * 0.7) 35);
	--color-primary-95: oklch(96% calc(0.15 * 0.5) 35);
	--color-secondary-05: oklch(18% calc(0.2 * 0.5) 95);
	--color-secondary-10: oklch(24% calc(0.2 * 0.7) 95);
	--color-secondary-20: oklch(32% calc(0.2 * 0.8) 95);
	--color-secondary-30: oklch(39% calc(0.2 * 0.9) 95);
	--color-secondary-40: oklch(46% calc(0.2 * 0.95) 95);
	--color-secondary-50: oklch(56% calc(0.2 * 1) 95);
	--color-secondary-60: oklch(67% calc(0.2 * 0.95) 95);
	--color-secondary-70: oklch(76% calc(0.2 * 0.9) 95);
	--color-secondary-80: oklch(84% calc(0.2 * 0.8) 95);
	--color-secondary-90: oklch(92% calc(0.2 * 0.7) 95);
	--color-secondary-95: oklch(96% calc(0.2 * 0.5) 95);
	--color-success-05: oklch(18% calc(0.18 * 0.5) 155);
	--color-success-10: oklch(24% calc(0.18 * 0.7) 155);
	--color-success-20: oklch(32% calc(0.18 * 0.8) 155);
	--color-success-30: oklch(39% calc(0.18 * 0.9) 155);
	--color-success-40: oklch(46% calc(0.18 * 0.95) 155);
	--color-success-50: oklch(56% calc(0.18 * 1) 155);
	--color-success-60: oklch(67% calc(0.18 * 0.95) 155);
	--color-success-70: oklch(76% calc(0.18 * 0.9) 155);
	--color-success-80: oklch(84% calc(0.18 * 0.8) 155);
	--color-success-90: oklch(92% calc(0.18 * 0.7) 155);
	--color-success-95: oklch(96% calc(0.18 * 0.5) 155);
	--color-danger-05: oklch(18% calc(0.18 * 0.5) 20);
	--color-danger-10: oklch(24% calc(0.18 * 0.7) 20);
	--color-danger-20: oklch(32% calc(0.18 * 0.8) 20);
	--color-danger-30: oklch(39% calc(0.18 * 0.9) 20);
	--color-danger-40: oklch(46% calc(0.18 * 0.95) 20);
	--color-danger-50: oklch(56% calc(0.18 * 1) 20);
	--color-danger-60: oklch(67% calc(0.18 * 0.95) 20);
	--color-danger-70: oklch(76% calc(0.18 * 0.9) 20);
	--color-danger-80: oklch(84% calc(0.18 * 0.8) 20);
	--color-danger-90: oklch(92% calc(0.18 * 0.7) 20);
	--color-danger-95: oklch(96% calc(0.18 * 0.5) 20);

	--font-sans: ui-sans-serif, sans-serif;
	--font-serif: "Vollkorn", ui-serif, serif;
	--font-mono: ui-monospace, monospace;

	--leading-\*: initial;
	--leading-tight: 1.25;
	--leading-normal: 1.5;
	--leading-loose: 2;

	--radius-\*: initial;
	--radius-sm: .125rem;
	--radius-md: .25rem;
	--radius-lg: .5rem;

	--shadow-\*: initial;
	--shadow-sm: 0 0.0625rem 0.1875rem 0 rgb(0 0 0 / 0.1), 0 0.0625rem 0.125rem
		-0.0625rem rgb(0 0 0 / 0.1);
	--shadow-md: 0 0.25rem 0.375rem -0.0625rem rgb(0 0 0 / 0.1), 0 0.125rem
		0.25rem -0.125rem rgb(0 0 0 / 0.1);
	--shadow-lg: 0 0.625rem 0.9375rem -0.1875rem rgb(0 0 0 / 0.1), 0 0.25rem
		0.375rem -0.25rem rgb(0 0 0 / 0.1);

	--inset-shadow-\*: initial;
	--inset-shadow-xs: inset 0 0.0625rem rgb(0 0 0 / 0.05);
	--inset-shadow-sm: inset 0 0.0625rem 0.0625rem rgb(0 0 0 / 0.05);
	--inset-shadow-md: inset 0 0.125rem 0.25rem rgb(0 0 0 / 0.05);

	--drop-shadow-\*: initial;
	--drop-shadow-sm: 0 0.0625rem 0.125rem rgb(0 0 0 / 0.15);
	--drop-shadow-md: 0 0.1875rem 0.1875rem rgb(0 0 0 / 0.12);
	--drop-shadow-lg: 0 0.25rem 0.25rem rgb(0 0 0 / 0.15);

	--blur-\*: initial;
	--blur-sm: 0.5rem;
	--blur-md: 1rem;
	--blur-lg: 1.5rem;
}

@theme inline {
	--color-gray-quiet-fill: var(--color-gray-10);
	--color-gray-quiet-border: var(--color-gray-30);
	--color-gray-quiet-fore: var(--color-gray-60);
	--color-gray-normal-fill: var(--color-gray-20);
	--color-gray-normal-border: var(--color-gray-40);
	--color-gray-normal-fore: var(--color-gray-70);
	--color-gray-loud-fill: var(--color-white);
	--color-gray-loud-border: var(--color-gray-70);
	--color-gray-loud-fore: var(--color-gray-40);
	--color-primary-quiet-fill: var(--color-primary-10);
	--color-primary-quiet-border: var(--color-primary-30);
	--color-primary-quiet-fore: var(--color-primary-60);
	--color-primary-normal-fill: var(--color-primary-20);
	--color-primary-normal-border: var(--color-primary-40);
	--color-primary-normal-fore: var(--color-primary-70);
	--color-primary-loud-fill: var(--color-primary-50);
	--color-primary-loud-border: var(--color-primary-70);
	--color-primary-loud-fore: var(--color-white);
	--color-secondary-quiet-fill: var(--color-secondary-10);
	--color-secondary-quiet-border: var(--color-secondary-30);
	--color-secondary-quiet-fore: var(--color-secondary-60);
	--color-secondary-normal-fill: var(--color-secondary-20);
	--color-secondary-normal-border: var(--color-secondary-40);
	--color-secondary-normal-fore: var(--color-secondary-70);
	--color-secondary-loud-fill: var(--color-secondary-50);
	--color-secondary-loud-border: var(--color-secondary-70);
	--color-secondary-loud-fore: var(--color-white);
	--color-success-quiet-fill: var(--color-success-10);
	--color-success-quiet-border: var(--color-success-30);
	--color-success-quiet-fore: var(--color-success-60);
	--color-success-normal-fill: var(--color-success-20);
	--color-success-normal-border: var(--color-success-40);
	--color-success-normal-fore: var(--color-success-70);
	--color-success-loud-fill: var(--color-success-50);
	--color-success-loud-border: var(--color-success-70);
	--color-success-loud-fore: var(--color-white);
	--color-danger-quiet-fill: var(--color-danger-10);
	--color-danger-quiet-border: var(--color-danger-30);
	--color-danger-quiet-fore: var(--color-danger-60);
	--color-danger-normal-fill: var(--color-danger-20);
	--color-danger-normal-border: var(--color-danger-40);
	--color-danger-normal-fore: var(--color-danger-70);
	--color-danger-loud-fill: var(--color-danger-50);
	--color-danger-loud-border: var(--color-danger-70);
	--color-danger-loud-fore: var(--color-white);

	--spacing-gutter: --spacing(4);

	--font-weight-label: var(--font-weight-medium);
	--font-weight-action: var(--font-weight-semibold);
}
