/* Always dark mode. */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Skeleton theme. */
[data-theme="dark"] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: var(--font-serif);
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: var(--color-secondary-950);
	--heading-font-color-dark: oklch(1 0 0 / 1);
	--heading-font-family: var(--font-serif);
	--heading-font-weight: var(--font-weight-medium);
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-600);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0rem;
	--radius-container: 0rem;
	--default-border-width: 0.125rem;
	--default-divide-width: 0.125rem;
	--default-ring-width: 0.125rem;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);

	--color-primary-50: oklch(96% calc(0.15 * 0.5) 35);
	--color-primary-100: oklch(92% calc(0.15 * 0.7) 35);
	--color-primary-200: oklch(84% calc(0.15 * 0.8) 35);
	--color-primary-300: oklch(76% calc(0.15 * 0.9) 35);
	--color-primary-400: oklch(67% calc(0.15 * 0.95) 35);
	--color-primary-500: oklch(56% calc(0.15 * 1) 35);
	--color-primary-600: oklch(46% calc(0.15 * 0.95) 35);
	--color-primary-700: oklch(39% calc(0.15 * 0.9) 35);
	--color-primary-800: oklch(32% calc(0.15 * 0.8) 35);
	--color-primary-900: oklch(24% calc(0.15 * 0.7) 35);
	--color-primary-950: oklch(18% calc(0.15 * 0.5) 35);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);

	--color-secondary-50: oklch(96% calc(0.2 * 0.5) 70);
	--color-secondary-100: oklch(92% calc(0.2 * 0.7) 70);
	--color-secondary-200: oklch(84% calc(0.2 * 0.8) 70);
	--color-secondary-300: oklch(76% calc(0.2 * 0.9) 70);
	--color-secondary-400: oklch(67% calc(0.2 * 0.95) 70);
	--color-secondary-500: oklch(56% calc(0.2 * 1) 70);
	--color-secondary-600: oklch(46% calc(0.2 * 0.95) 70);
	--color-secondary-700: oklch(39% calc(0.2 * 0.9) 70);
	--color-secondary-800: oklch(32% calc(0.2 * 0.8) 70);
	--color-secondary-900: oklch(24% calc(0.2 * 0.7) 70);
	--color-secondary-950: oklch(18% calc(0.2 * 0.5) 70);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);

	--color-tertiary-50: oklch(96% calc(0.11 * 0.5) 215);
	--color-tertiary-100: oklch(92% calc(0.11 * 0.7) 215);
	--color-tertiary-200: oklch(84% calc(0.11 * 0.8) 215);
	--color-tertiary-300: oklch(76% calc(0.11 * 0.9) 215);
	--color-tertiary-400: oklch(67% calc(0.11 * 0.95) 215);
	--color-tertiary-500: oklch(56% calc(0.11 * 1) 215);
	--color-tertiary-600: oklch(46% calc(0.11 * 0.95) 215);
	--color-tertiary-700: oklch(39% calc(0.11 * 0.9) 215);
	--color-tertiary-800: oklch(32% calc(0.11 * 0.8) 215);
	--color-tertiary-900: oklch(24% calc(0.11 * 0.7) 215);
	--color-tertiary-950: oklch(18% calc(0.11 * 0.5) 215);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);

	--color-success-50: oklch(96% calc(0.18 * 0.5) 155);
	--color-success-100: oklch(92% calc(0.18 * 0.7) 155);
	--color-success-200: oklch(84% calc(0.18 * 0.8) 155);
	--color-success-300: oklch(76% calc(0.18 * 0.9) 155);
	--color-success-400: oklch(67% calc(0.18 * 0.95) 155);
	--color-success-500: oklch(56% calc(0.18 * 1) 155);
	--color-success-600: oklch(46% calc(0.18 * 0.95) 155);
	--color-success-700: oklch(39% calc(0.18 * 0.9) 155);
	--color-success-800: oklch(32% calc(0.18 * 0.8) 155);
	--color-success-900: oklch(24% calc(0.18 * 0.7) 155);
	--color-success-950: oklch(18% calc(0.18 * 0.5) 155);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);

	--color-warning-50: oklch(96% calc(0.18 * 0.5) 95);
	--color-warning-100: oklch(92% calc(0.18 * 0.7) 95);
	--color-warning-200: oklch(84% calc(0.18 * 0.8) 95);
	--color-warning-300: oklch(76% calc(0.18 * 0.9) 95);
	--color-warning-400: oklch(67% calc(0.18 * 0.95) 95);
	--color-warning-500: oklch(56% calc(0.18 * 1) 95);
	--color-warning-600: oklch(46% calc(0.18 * 0.95) 95);
	--color-warning-700: oklch(39% calc(0.18 * 0.9) 95);
	--color-warning-800: oklch(32% calc(0.18 * 0.8) 95);
	--color-warning-900: oklch(24% calc(0.18 * 0.7) 95);
	--color-warning-950: oklch(18% calc(0.18 * 0.5) 95);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);

	--color-error-50: oklch(96% calc(0.18 * 0.5) 20);
	--color-error-100: oklch(92% calc(0.18 * 0.7) 20);
	--color-error-200: oklch(84% calc(0.18 * 0.8) 20);
	--color-error-300: oklch(76% calc(0.18 * 0.9) 20);
	--color-error-400: oklch(67% calc(0.18 * 0.95) 20);
	--color-error-500: oklch(56% calc(0.18 * 1) 20);
	--color-error-600: oklch(46% calc(0.18 * 0.95) 20);
	--color-error-700: oklch(39% calc(0.18 * 0.9) 20);
	--color-error-800: oklch(32% calc(0.18 * 0.8) 20);
	--color-error-900: oklch(24% calc(0.18 * 0.7) 20);
	--color-error-950: oklch(18% calc(0.18 * 0.5) 20);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);

	--color-surface-50: oklch(96% calc(0.03 * 0.5) 215);
	--color-surface-100: oklch(92% calc(0.03 * 0.7) 215);
	--color-surface-200: oklch(84% calc(0.03 * 0.8) 215);
	--color-surface-300: oklch(76% calc(0.03 * 0.9) 215);
	--color-surface-400: oklch(67% calc(0.03 * 0.95) 215);
	--color-surface-500: oklch(56% calc(0.03 * 1) 215);
	--color-surface-600: oklch(46% calc(0.03 * 0.95) 215);
	--color-surface-700: oklch(39% calc(0.03 * 0.9) 215);
	--color-surface-800: oklch(32% calc(0.03 * 0.8) 215);
	--color-surface-900: oklch(24% calc(0.03 * 0.7) 215);
	--color-surface-950: oklch(18% calc(0.03 * 0.5) 215);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}

/* Tailwind changes. */
@theme {
	--font-sans: ui-sans-serif, sans-serif;
	--font-serif: "Vollkorn", ui-serif, serif;
	--font-mono: ui-monospace, monospace;
}

@theme inline {
	--spacing-gutter: --spacing(4);

	--font-weight-label: var(--font-weight-medium);
	--font-weight-action: var(--font-weight-semibold);
}
